body {
  text-align: center;
  font-family: Roboto;
}

h1 {
  color: #404040;
}

h2 {
  margin-top: 0px;
}

.betts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eric {
  display: flex;
  flex-direction: column-reverse;
  color: inherit;
  text-decoration: none;
}

.eric img {
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 2px;
  margin: 10px;
}

.eric:target img {
  box-shadow: 1px 0px 20px 10px rgba(255, 0, 100, 0.25);
}

footer {
  margin: 2rem 0;
}

.netliheart {
  margin-bottom: -0.1rem;
  width: 1rem;
}
