<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Betts of Netlify</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
  {# Include the CSS and minify it with a filter #}
  {% set css %}
    {% include "style.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>
  <header>
    <h1>Betts of Netlify</h1>
    <p>Say hello to Eric!</p>
  </header>
  <main class="betts">
  {# Output some HTML for each pet found in _data/betts.json #}
  {% for eric in betts %}
    <a class="eric" href="#{{ eric.name | slug }}" id="id{{ eric.index }}">
      <h2>{{ eric.name }}</h2>
      <img src="/images/300/{{ eric.photo }}" alt="{{ eric.name }}" loading="lazy">
    </a>
  {% endfor %}
  </main>
  <footer>
    Made with <img class="netliheart" title="love" src="/images/netliheart.svg" alt="love" width="1em"> by the Netlify team. Explore <a href="https://gitlab.com/bettse/bettsofnetlify">the code</a> in GitLab.</a>.
  </footer>
</body>
</html>
